Button:focus {outline:0;}
.mainModalDiv{
    border: 10px solid #ecebeb;
    padding: 3%;
.generalhead{
    background-color: #eaeaea;
    padding: 2%;
    margin-bottom:20px;
    font-weight: bold;
    font-size: 20px;
}
}
.required:after {
    content:" *";
    color: red;
}
.calen {
    position: relative;
    left: 88%;
    bottom: 29px;
}
.secondIn{
    margin-left:3% !important;
}
.deleteHemisBtn {
    margin-left: 5%;
    background-color: #fff !important;
    border:#fff !important;
    .deleteHemisBtnIcon {
        color: red;
        position: relative;
        font-size: 25px !important;
       
    }
}
.react-datepicker-wrapper {
    width: 100%;
}
.modal-header{
    display: flex;
	flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: none !important;
.modal-title{
    width:100%;
.newprjct{
    justify-content: flex-start;
}
button.close{
    justify-content: flex-end;
    position: absolute;
    top: 16px;
    right: 15px;
}
}
}
.modal-footer{
    border-top: none !important;
    .nextBtn{
        background-color: #321850;
        color:#fff;
        }
}
.modalMain{
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
.openPrjct{
        
    background-color: #321850;
    color:#fff;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

}

.btn-secondary.focus, .btn-secondary:focus{
    background-color: #321850;
}


.modal-dialog {
    max-width: 704px !important;
}
.error{
    color:red;
    font-size: 12px;
}
//second modal css

.nextCordinate{
    text-align: center;
}
.cordinate{
    background-color: #F5F5F5;
    height:50px;
    padding:2%;
}

.typeDiv{
    padding:2%;
}
.pointOne{
    padding-top:2%;
    
}
.addPointBtn{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.north{
     
    position: absolute;
    bottom: 15%;
    right: -4px;
}
.hemipoint{
    position: absolute;
    bottom: 15%;
    right: -15px;
}
.deleteBtn{
    background-color: #fff !important;
    border:#fff !important;
.deleteIcon {
    color: red;
    position: relative;
    font-size: 25px !important;
   
}
}