.fontSmall {
    font-size: small
}
.listGroupTxt {
    width: 97%;
    float: left;
}
.fontXSmall  {
    font-size: x-small
}
.sidebarStyle {
    width: 20%;
    float: left;

}
.sidebarInnerContainer{
    height: 550px;
    overflow-y: scroll
}

.backgroundWhite{
    background: #fff;
}

